<div class="container">
  <header>
    <h1>Graduação</h1>
  </header>

  <div id="topic">
    <h2>
      Direito
    </h2>
    <p>
      Sou graduado em direito pelo Centro Universitário Unitoledo Araçatuba-SP.
      Fiz meu TCC em Direito do Trabalho abordando a reforma trabalhista, o tema foi "A PREVALÊNCIA DO NEGOCIADO SOBRE O
      LEGISLADO NA REFORMA TRABALHISTA DE 2017".
    </p>
    <p>
      Duas conquistas que posso citar sobre essa época foi a obtenção da nota máxima na monografia e a aprovação no
      exame da Ordem dos
      Advogados do Brasil antes mesmo de concluir o último ano do curso.
    </p>
  </div>

  <div id="topic">
    <h2>
      Análise e Desenvolvimento de Sistemas
    </h2>
    <p>
      Estou atualmente no quarto semestre de ADS na FATEC-SP, mas precisarei trancar em virtude do retorno presencial,
      pois já não moro mais na cidade da faculdade, e por conta da incompatibilidade de horário com o trabalho.
    </p>
  </div>

  <div id="topic">
    <h2>
      Engenharia de Software
    </h2>
    <p>
      Depois de dar uma boa pesquisada sobre a área, curso e grade curricular, optei pelo curso de Engenharia de
      Software como minha principal graduação na área de TI. Espero aprender bastante sobre como desenvolver, testar,
      refatorar e manter um software.
    </p>
    <p>
      Estou matriculado na UniCesumar e minhas aulas começarão em fevereiro de 2022.
    </p>
  </div>

  <div id="topic">
    <h2>
      Perpectivas
    </h2>
    <p>
      No futuro desejo fazer especializações e um mestrado em alguma área que me cative muito dentro de TI. Ainda não
      decidi qual.
    </p>
  </div>

  <br>
  <br>

  <div style="text-align: center;">
    <a href="http://localhost:4567/" id="next-page">Home</a>

    <a href="http://localhost:4567/myprs" id="next-page">My pull requests</a>
  </div>
</div>
