<div class="container">
  <header>
    <h1>Thiago Antonello Vargas</h1>
  </header>

  <div id="topic">
    <h2>
      Família
    </h2>
    <p>
      Pai, mãe, irmão e duas gatas de estimação
    </p>
    </table>
  </div>

  <div id="topic">
    <h2>
      Hobbies
    </h2>
    <p>
      Assistir séries, aanimes, filmes, documentários
    </p>
    <p>
      Assistir vídeos sobre programação, tecnologia, história, geopolítica, cultura, ciências no geral
    </p>
    <p>
      Jogar diversos tipos de jogos no computador, como League of Legends, TFT, vários FPS etc
    </p>
  </div>

  <div id="topic">
    <h2>
      Trabalho
    </h2>
    <p>
      Trabalhei no TJ-SP como estagiário por dois anos
    </p>
    <p>
      Advoguei por mais de um ano
    </p>
    <p>
      Sou estagiário na CodeMiner42
    </p>
  </div>

  <div id="topic">
    <h2>
      Curiosidades
    </h2>
    <p>
      Geek, curioso, eclético, conversador, uso o PC desde os quatro anos
    </p>
  </div>

  <div id="topic">
    <h2>
      Valores
    </h2>
    <p>
      Honestidade, humildade, solidariedade, sempre aprender algo novo, bom ânimo/otimismo
    </p>
  </div>

  <div id="topic">
    <h2>
      Meta
    </h2>
    <p>
      Ser feliz!
    </p>
  </div>

  <br>
  <br>

  <div style="text-align: center;">
    <a href="http://localhost:4567/myprs" id="next-page">My pull requests</a>

    <a href="http://localhost:4567/education" id="next-page">Education</a>
  </div>
</div>
