<div class="container">
  <header>
    <h1 style="text-align: center;">My pull requests</h1>
  </header>

  <table style="font-size: 200%">
    <tr>
      <td>
        <a href="https://github.com/thiantonello/log-parser/pull/1">PR 1</a>
      </td>
      <td>
        Project setup
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/thiantonello/log-parser/pull/2">PR 2</a>
      </td>
      <td>
        Line counter to json
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/thiantonello/log-parser/pull/3">PR 3</a>
      </td>
      <td>
        Identify players
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/thiantonello/log-parser/pull/4">PR 4</a>
      </td>
      <td>Add gems rubocop and simplecov</td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/thiantonello/log-parser/pull/5">PR 5</a>
      </td>
      <td>
        Total kills and kills register
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/thiantonello/log-parser/pull/6">PR 6</a>
      </td>
      <td>
        Apply game rules
      </td>
    </tr>
  </table>

  <br>
  <br>

  <div style="text-align: center;">
    <a href="http://localhost:4567/" id="next-page">Home</a>

    <a href="http://localhost:4567/education" id="next-page">Education</a>
  </div>
</div>
